node_modules/*
/test-results/
/playwright-report/
/playwright/.cache/
reports
allure-report
allure-results
dummy*
.vscode
output.txt
package-lock.json
output
/output*
.DS_Store
logs
allure-results
allure-reports